# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90

# Executables
*.out
*.app

!MODFLOW-NWT.exe
!MODFLOW-NWT_64.exe
!AgTest1A.exe
!AgTest1B.exe

# MODFLOW output files
*.hobs
*.cbc
*.hed
*.lst~HEAD
*.lst~develop
Examples/AgOptions/Uzf_well_supp_irr/fort.222
Examples/AgOptions/Uzf_well_supp_irr/cbc.unf
Examples/AgOptions/~$Test_analysis.xlsx
Examples/AgOptions/Uzf_well_supp_irr/wellsuppirr.lst
Examples/AgOptions/Test_analysis.xlsx
MF_NWT/MF_NWT/x64/Release/MF_NWT.exp
Examples/sfr4test_single_line_options/sfrtest4.lst
Examples/sfr4test_single_line_options/sfrtest4.fhd
Examples/sfr4test_single_line_options/sfrtest4.fdn
