# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.mod
*_genmod.f90

# Executables
*.exe
*.out
*.app

# MODFLOW output files
*.hobs
*.cbc
*.hed
MODFLOW-NWT_1.1.2/output_test/Sfr2weltab.lst
MODFLOW-NWT_1.1.2/output_test_64/output_test_swr1_64/SWRSample05.lst~develop
*.lst~HEAD
*.lst~develop
MF_NWT/MF_NWT/Release/BuildLog.htm
*.htm
*.u2d
